<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>
    <add key="Mode" value="DAILY"/>
    <add key="StartTime" value="05:00 AM"/>
    <add key="callDuration" value="10"/>
    <add key="CallType" value="1"/>
    <add key="IntervalTime" value="300000"/>
    
    <add key="HostUrl" value="http://localhost:9001"/>
    
     <add key="Logfilepath" value="D:\"/>

   
    <add key="Subject" value="Error Import Data"/>
    <add key="Message" value="Error Import Data"/>

    <add key="ConnectionString" value="Data Source=103.240.34.122;Initial Catalog=euro7000orders
         ;User ID=euro7000Orders;Password=8T14d@vo"/>

	  <!-- T classs Value -->

    <add key="TALLYREQUEST" value="Import Data"/>
    <add key="REPORTNAME" value="Vouchers"/>
    <add key="SVCURRENTCOMPANY" value="##SVCurrentCompany"/>
    <add key="UDF" value="TallyUDF"/>

    <add key="SENDERID" value="Vouchers"/>
    <add key="VCHTYPE" value="Sales Order"/>
    <add key="ACTION" value="create"/>
    <add key="OBJVIEW" value="Invoice Voucher View"/>

    <add key="OBJADDRESSLIST_TEXT" value="String"/>

    <add key="DISPATCHFROMADDRESSLIST_TEXT" value="String"/>

    <add key="DISPATCHFROMADDRESS1" value="1104-1112, ELITE, NR, SAPATH HEXA,"/>
    <add key="DISPATCHFROMADDRESS2" value="OPP. KARGIL PETROL PUMP, S.G.HIGHWAY, AHMEDABAD"/>
    <add key="DISPATCHFROMADDRESS3" value="FAC: S.NO-873, VILLAGE-SANTEJ-382721"/>

    <add key="BASICBUYERADDRESSLIST_TEXT" value="String"/>
    <add key="OLDAUDITENTRYIDSLIST" value="Number"/>


    <add key="OLDAUDITENTRYIDS" value="-1"/>
    <add key="GSTREGISTRATIONTYPE" value="Regular"/>
    <add key="VATDEALERTYPE" value="Regular"/>
    <add key="COUNTRYOFRESIDENCE" value="India"/>

	<add key="VOUCHERTYPENAME" value="Sales order"/>
	  
    <add key="FBTPAYMENTTYPE" value="Default"/>
    <add key="PERSISTEDVIEW" value="Invoice Voucher View"/>

    <add key="CONSIGNEECOUNTRYNAME" value="India"/>
    <add key="VCHGSTCLASS" value=""/>
    
    <add key="VCHENTRYMODE" value="Item Invoice"/>
    <add key="VOUCHERTYPEORIGNAME" value="SALES ORDER"/>
    <add key="DIFFACTUALQTY" value="No"/>
    <add key="ISMSTFROMSYNC" value="No"/>
    <add key="ASORIGINAL" value="No"/>
    <add key="AUDITED" value="No"/>
    <add key="FORJOBCOSTING" value="No"/>

    <add key="ISOPTIONAL" value="No"/>
    <add key="ISINVOICE" value="Yes"/>
    <add key="ISDEEMEDPOSITIVE" value="No"/>
    <add key="ISLASTDEEMEDPOSITIVE" value="No"/>

    <add key="ALLINVENTORYENTRIESLIST_RATE" value="0"/>
    <add key="ALLINVENTORYENTRIESLIST_AMOUNT" value="0"/>
    <add key="GODOWNNAME" value="Main Location"/>
    <add key="BATCHNAME" value="Primary Batch"/>

    <add key="OLDAUDITENTRYIDSLISTLEDGERENTRIESLIST" value="Number"/>
    <add key="OLDAUDITENTRYIDSLEDGERENTRIESLIST" value="-1"/>
    <add key="GSTCLASS" value=""/>

    <add key="ISDEEMEDPOSITIVELEDGERENTRIESLIST" value="Yes"/>
    <add key="LEDGERFROMITEM" value="No"/>
    <add key="REMOVEZEROENTRIES" value="No"/>
    <add key="ISPARTYLEDGER" value="Yes"/>

    <add key="ISLASTDEEMEDPOSITIVELEDGERENTRIESLIST" value="Yes"/>
    <add key="ISCAPVATTAXALTERED" value="No"/>
    <add key="ISCAPVATNOTCLAIMED" value="No"/>
    <add key="LEDGERENTRIESLIST_AMOUNT" value="0"/>
    
    
    <add key="JRISBILLTRANSFRYNLIST_DESC" value="`JRSIVchIsDiscItmYN`"/>
    <add key="JRISBILLTRANSFRYNLIST_ISLIST" value="YES"/>
    <add key="JRISBILLTRANSFRYNLIST_TYPE" value="Logical"/>
    <add key="JRISBILLTRANSFRYNLIST_INDEX" value="21002"/>
    
    
    
    <add key="UPVCHNOFPKGBT_LIST_DESC" value="`UPVchNofPkgBT`"/>
    <add key="UPVCHNOFPKGBT_LIST_ISLIST" value="YES"/>
    <add key="UPVCHNOFPKGBT_LIST_TYPE" value="Number"/>
    <add key="UPVCHNOFPKGBT_LIST_INDEX" value="26107"/>
    <add key="UPVCHNOFPKGBT_DESC" value="`UPVchNofPkgBT`"/>

    
    <add key="UPVCHNOFPKGEI_LIST_DESC" value="`UPVchNofPkgEI`"/>
    <add key="UPVCHNOFPKGEI_LIST_ISLIST" value="YES"/>
    <add key="UPVCHNOFPKGEI_LIST_TYPE" value="Number"/>
    <add key="UPVCHNOFPKGEI_LIST_INDEX" value="26108"/>
     <add key="UPVCHNOFPKGEI_DESC" value="`UPVchNofPkgEI`"/>


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
